.cpro_contact {
  .cpro_contact-info {
    margin-top: 20px;
    text-align: right;
    span {
      font-size: 15px;
    }
  }

  .cpro_contact-img {
    margin-top: 20px;
    text-align: left;
    img {
      max-width: 175px;
    }
  }
}
